---
---

<header class="bg-white/30 backdrop-blur border-b text-neutral-800">
    <div class="container mx-auto px-6 py-2.5">
        <div class="flex items-center justify-between gap-5">
            <a href="/" class="font-bold flex-nowrap shrink-0">🥬 油麦菜</a>
            <div class="flex items-center">
                <nav class="mx-5 inline-flex space-x-2 overflow-hidden flex-nowrap max-w-full overflow-x-scroll text-xs *:shrink-0 *:px-1.5 *:py-1 *:rounded hover:*:bg-slate-100 active:*:bg-slate-200 *:transition *:ease-in-out active:*:scale-95">
                    <a href="#">🏠 首页</a>
                    <a href="#">🥰 友链</a>
                    <a href="#">✏ 留言</a>
                    <a href="#">😎 关于</a>
                </nav>
                <button class="p-1.5 rounded-lg hover:bg-slate-100 active:bg-slate-200 active:transition active:scale-90">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                        <path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" />
                    </svg>
                </button>
                <button class="ml-2 p-1.5 rounded-lg hover:bg-slate-100 active:bg-slate-200 active:transition active:scale-90">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                        <path fill-rule="evenodd" d="M2 4.75A.75.75 0 0 1 2.75 4h10.5a.75.75 0 0 1 0 1.5H2.75A.75.75 0 0 1 2 4.75Zm0 6.5a.75.75 0 0 1 .75-.75h10.5a.75.75 0 0 1 0 1.5H2.75a.75.75 0 0 1-.75-.75Z" clip-rule="evenodd" />
                    </svg>                      
                </button>
            </div>
        </div>
    </div>
</header>

<div class="bg-white/30 backdrop-blur fixed top-0 w-full h-screen z-[997]">
    <div class="container mx-auto px-6">
        <div class="flex justify-end py-2.5">
            <button class="p-1.5 rounded-lg bg-slate-100 hover:bg-slate-200 active:bg-slate-300 active:transition active:scale-90">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-5">
                    <path d="M5.28 4.22a.75.75 0 0 0-1.06 1.06L6.94 8l-2.72 2.72a.75.75 0 1 0 1.06 1.06L8 9.06l2.72 2.72a.75.75 0 1 0 1.06-1.06L9.06 8l2.72-2.72a.75.75 0 0 0-1.06-1.06L8 6.94 5.28 4.22Z" />
                </svg>                                      
            </button>
        </div>
        <nav class="mt-5 text-xl text-neutral-800 font-bold space-y-1 *:block *:px-1.5 *:py-2.5 *:rounded-lg hover:*:bg-slate-100 active:*:bg-slate-200 *:transition *:ease-in-out active:*:scale-95">
            <a href="#">🏠 首页</a>
            <a href="#">🥰 友链</a>
            <a href="#">✍️ 留言</a>
            <a href="#">😎 关于</a>
        </nav>
    </div>
</div>