---
import BackToTopButton from "../components/BackToTopButton.astro";
import FooterComponent from "../components/FooterComponent.astro";
import HeaderComponent from "../components/HeaderComponent.astro";
import CommentsComponent from "../components/CommentsComponent.astro";
import BaseLayout from "./BaseLayout.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout title = {frontmatter.title}>
    <HeaderComponent/>

    <main class="container mx-auto px-6 py-8 space-y-8">
        <article class="rounded-lg border backdrop-blur-[2px] py-6 space-y-6">
            <div class="px-6">
                <h1 class="text-2xl text-black font-medium">{frontmatter.title}</h1>
                <div class="flex items-center text-xs font-light gap-2.5 mt-2">
                    <div class="flex items-center gap-1 rounded-md border px-1.5 py-1 shadow-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                        </svg>
                        <span>{frontmatter.author}</span>
                    </div>
                    <time class="flex items-center gap-1 rounded-md border px-1.5 py-1 shadow-sm">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                        </svg>
                        <pubdate>{frontmatter.date.toString().slice(0,10)}</pubdate> 
                    </time>
                </div>
            </div>
            <div>
                <slot />
            </div>
        </article>

        <section class="rounded-lg border backdrop-blur-[2px] p-6">
            <CommentsComponent />
        </section>
    </main>

    <FooterComponent />

    <BackToTopButton />
</BaseLayout>

